[submodule "witness"]
	path = witness
	url = ../witness.git
[submodule "open-witness"]
	path = open-witness
	url = ../open-witness.git
[submodule "benchgraph"]
	path = benchgraph
	url = git@github.com:novadiscovery/benchgraph.git
[submodule "diagrams-gi-cairo"]
	path = diagrams-gi-cairo
	url = git@github.com:AshleyYakeley/diagrams-gi-cairo.git
