[submodule "witness"]
	path = external/witness
	url = ../witness.git
[submodule "open-witness"]
	path = external/open-witness
	url = ../open-witness.git
[submodule "benchgraph"]
	path = benchgraph
	url = git@github.com:novadiscovery/benchgraph.git
[submodule "external/countable"]
	path = external/countable
	url = git@github.com:AshleyYakeley/countable.git
[submodule "external/monadology"]
	path = external/monadology
	url = ../monadology.git
[submodule "external/type-rig"]
	path = external/type-rig
	url = ../type-rig.git
[submodule "external/primitive-serial"]
	path = external/primitive-serial
	url = ../primitive-serial.git
