h1, h2, h3, h4, h5, h6, .rst-content h1, .rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
    margin-top: 20px;
    margin-bottom: 0;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

ul.subnav ul {
    padding-left: 15px;
}

pre, .rst-content pre, code, .rst-content code, tt, .rst-content tt {
    font-family:  InconsolataRegular, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
    color: black;
    font-size: 75%;
    margin: 0;
}

.rst-content .section ol {
    line-height: normal;
    margin-bottom: 0;
}

.rst-content .section ol li {
    margin-top: 8px;
    margin-bottom: 8px;
}

footer {
    margin-top: 24px;
}

code, .rst-content code, .rst-content code.literal {
    background: unset;
    border: unset;
    padding: unset;
    font-family:  InconsolataRegular, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
    color: darkred;
}

.highlight {
    background: white;
    border: solid 1px lightgrey;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.highlight .c1 {
    font-style: normal;
    color: grey;
}

.highlight .k {
    font-weight: normal;
    color: blue;
}

.highlight .kd {
    font-weight: normal;
    color: blue;
}

.highlight .kt {
    font-weight: normal;
    color: darkred;
}

.highlight .s {
    color: darkblue;
}

.highlight .l-Anchor {
    color: green;
}

.highlight .o {
    font-weight: normal;
}
